In [1]:
import ReportTimerange as rtr
import ReportMailer as rm
import GuestbookDbConnect as gdb

# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install xlsxwriter

# Reporting Period #
* PD - yesterday
* PW - previous week
* PM - previous month
* PQ - previous quarter
* PY - previous calendar year
* YTD year to date
* WTD current week to date
* TODAY today
* P90 - previous 90days

In [2]:
acronyms = [ "PD", "PW", "PM", "PQ", "PY", "YTD", "WTD", "TODAY", "P90"]
friendly = [ "Prior Day", "Prior Week", "Prior Month", "Prior Quarter", "Prior Year", "Year to Date", "Week to Date", "Today", "Previous 90 days"]

def toPeriodFriendly(INTERVAL):
    for n in range(0, len(acronyms)):
      if INTERVAL==acronyms[n]:
         return friendly[n]
    return "Unknown Period"

class StopExecution(Exception):
    def _render_traceback_(self):
        pass

raise StopExecution

def exit(): raise StopExecution

In [3]:
import os
import pandas as pd

#path = "/home/gbadmin/jupy-notebooks/Reports/inqueue"
#dir_list = os.listdir(path)

#if len(dir_list)>0:
#  filename = "inqueue/{}".format(dir_list[0])
#  print(filename)

#  rep = pd.read_json(filename, lines=True)

#  for _ , row in rep.iterrows():    
#    _INTERVAL = row['interval']
    
#  print(_INTERVAL)
#  # delete the file
#  os.remove(filename)  
#else:
#  print("NOTHING TO DO")
#  exit()

#_INTERVAL = "PY"

path = "/home/gbadmin/jupy-notebooks/Reports/inqueue"
dir_list = os.listdir(path)

if len(dir_list)>0:
  filename = "inqueue/{}".format(dir_list[0])
  print(filename)

  rep = pd.read_json(filename, lines=True)

  for _ , row in rep.iterrows():    
    _INTERVAL = row['interval']
    _TYPE = row['type']
    if (_TYPE=='ALL'):
       print(_INTERVAL)
       print(_TYPE)
       # delete the file
       os.remove(filename)
    else:
      print("Non-ALL Type")
      exit()
       
else:
  print("NOTHING TO DO")
  exit()

inqueue/report-20221017_174706.json
PQ
ALL

_INTERVAL = "PY"

In [4]:
from pandas import ExcelWriter
from pandas import ExcelFile
import xlsxwriter
import datetime

def createSpreadsheetAndMailIt(collections, reportname, recipients, subject, body):
  now = datetime.datetime.now().strftime('%Y-%m-%d_%H%M%S')
  filename = reportname + "-" + now + ".xlsx"
  #writer = ExcelWriter(filename)
  writer = ExcelWriter(filename, engine='xlsxwriter')
  workbook = writer.book  
  print("Writing dataframe to Excel file {0}".format(filename))
  for collection in collections:
    print("Writing {} to spreadsheet".format(collection["name"]))
    collection["dataframe"].to_excel(writer, sheet_name=collection["name"], index=False)
    worksheet = writer.sheets[collection["name"]]
    if 'colwidths' in collection:
      colwidths = collection['colwidths']
      print("colwidths={}".format(colwidths))
      for n in range(0, len(colwidths)):
        col = str(chr(65 + n))
        worksheet.set_column('{}:{}'.format(col,col), colwidths[n])
    else:
      worksheet.set_column('A:A', 30)
  writer.save()
  for recipient in recipients: 
    rm.mailer(recipient, subject, body, filename)
  print("Excel/Email Done!")

In [5]:
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

conn = gdb.guestbookDbConnect()

Welcome to Jupyter Notebook.  You are connected to the Opportunity House guestbook database!

In [6]:
trange = rtr.timerange(_INTERVAL)
print(trange)

collections = []
summaries = []

collection = {}
collection["name"] = "Outline"

df = pd.DataFrame({"Report Tab":[ \
              "Summary", \
              "Distinct Clients", \
              "Services", \
              "Housing", \
              "Incarcerations", \
              "Gender", \
              "Ethnicity", \
              "Veterans", \
              "New Clients"
                                 ], \
                   "Description":[ \
              "summary totals for the report period", \
              "a count of individuals served by sub-period within the period.", \
              "breakdown by service type and sub-period within the period.", \
              "breakdown by housing conditions and sub-period within the period.", \
              "clients reporting incarceration in previous 90 day period.", \
              "breakdown by gender and sub-period within the period.", \
              "breakdown by ethnicity and sub-period within the period.", \
              "breakdown by veteran status and sub-period within the period.", \
              "a list of clients with first visit occurring in the report period."
                                 ]})

collection["dataframe"] = df 
collection["colwidths"] = [30, 100]
collections.append(collection)



df.head(1000)

[datetime.datetime(2022, 7, 1, 0, 0), datetime.datetime(2022, 9, 30, 23, 59, 59, 999999), 'YYYY-MM/DD WW']

         Report Tab                                        Description
0           Summary               summary totals for the report period
1  Distinct Clients  a count of individuals served by sub-period wi...
2          Services  breakdown by service type and sub-period withi...
3           Housing  breakdown by housing conditions and sub-period...
4    Incarcerations  clients reporting incarceration in previous 90...
5            Gender  breakdown by gender and sub-period within the ...
6         Ethnicity  breakdown by ethnicity and sub-period within t...
7          Veterans  breakdown by veteran status and sub-period wit...
8       New Clients  a list of clients with first visit occurring i...

## Total distinct clients in report period ##

In [7]:
summary = {}
summary["name"] = "Total distinct clients in report period"

query = "SELECT min(timestamp)AS start, max(timestamp) AS end, \
         COUNT(DISTINCT person_id) AS clients FROM guestbook_personsnapshot \
         WHERE timestamp BETWEEN '{}' AND '{}'".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

summary["count"] = data.iloc[0,2]
summaries.append(summary)
print(summaries)

data.head(100)

SELECT min(timestamp)AS start, max(timestamp) AS end,          COUNT(DISTINCT person_id) AS clients FROM guestbook_personsnapshot          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'
[{'name': 'Total distinct clients in report period', 'count': 342}]

                             start                              end  clients
0 2022-07-01 11:39:55.276075+00:00 2022-09-30 14:33:13.490389+00:00      342

# Distinct clients by sub-interval within the report period #
* Statistics focused on the breadth of individuals that are served during the time period.

In [8]:
collection = {}
collection["name"] = "Distinct Clients"

query = "SELECT to_char(timestamp,'{}') AS period,  \
         COUNT(DISTINCT person.idperson) AS clients \
         FROM guestbook_personsnapshot snapshot \
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period".format(trange[2], trange[0], trange[1])
print(query)

data = pd.read_sql(query, conn)
#data.head(1000)

persons = data.pivot_table('clients', index=['period']).fillna(0).astype(int).reset_index('period')

collection["dataframe"] = persons 
collection["colwidths"] = [30, 20]
collections.append(collection)
persons.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,           COUNT(DISTINCT person.idperson) AS clients          FROM guestbook_personsnapshot snapshot          JOIN guestbook_person person ON person.idperson=snapshot.person_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY period

           period  clients
0   2022-07/01 26       39
1   2022-07/04 27       25
2   2022-07/05 27       43
3   2022-07/06 27        2
4   2022-07/07 27       35
5   2022-07/08 27       49
6   2022-07/11 28       50
7   2022-07/12 28       42
8   2022-07/13 28       38
9   2022-07/14 28       42
10  2022-07/15 28       41
11  2022-07/18 29       31
12  2022-07/19 29       51
13  2022-07/20 29       37
14  2022-07/21 29       38
15  2022-07/22 29       43
16  2022-07/25 30       41
17  2022-07/26 30       50
18  2022-07/27 30       44
19  2022-07/28 30       39
20  2022-07/29 30       41
21  2022-08/01 31       41
22  2022-08/02 31       32
23  2022-08/04 31       35
24  2022-08/05 31       39
25  2022-08/08 32       40
26  2022-08/09 32       37
27  2022-08/10 32       29
28  2022-08/11 32       30
29  2022-08/12 32       34
..            ...      ...
33  2022-08/18 33       29
34  2022-08/19 33       28
35  2022-08/22 34       46
36  2022-08/23 34       35
37  2022-08/24 34       37
38  2022-08/25 34       38
39  2022-08/26 34       36
40  2022-08/29 35       38
41  2022-08/30 35       37
42  2022-08/31 35       38
43  2022-09/01 35       27
44  2022-09/02 35       31
45  2022-09/06 36       41
46  2022-09/08 36       38
47  2022-09/09 36       32
48  2022-09/12 37       50
49  2022-09/13 37       42
50  2022-09/14 37       44
51  2022-09/15 37       39
52  2022-09/16 37       39
53  2022-09/19 38       56
54  2022-09/20 38       36
55  2022-09/21 38       42
56  2022-09/22 38       38
57  2022-09/23 38       38
58  2022-09/26 39       52
59  2022-09/27 39       48
60  2022-09/28 39       39
61  2022-09/29 39       37
62  2022-09/30 39       31

[63 rows x 2 columns]

## Total Services delivered in report period ##

In [9]:
query = "SELECT \
         left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot \
         JOIN guestbook_service service ON service.idservice=servicerequest.service_id \
         WHERE timestamp BETWEEN '{}' AND '{}'  AND service.points<=0 \
         GROUP BY servicename \
         ORDER BY total desc".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)


for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = data.iloc[n,0] + " services delivered."
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)
data.head(1000)

SELECT          left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot          JOIN guestbook_service service ON service.idservice=servicerequest.service_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'  AND service.points<=0          GROUP BY servicename          ORDER BY total desc
[{'name': 'Total distinct clients in report period', 'count': 342}, {'name': 'Meals services delivered.', 'count': 2167}, {'name': 'Shower services delivered.', 'count': 749}, {'name': 'Clothing services delivered.', 'count': 360}, {'name': 'Nurse services delivered.', 'count': 203}, {'name': 'Laundry services delivered.', 'count': 182}, {'name': 'Group Class services delivered.', 'count': 116}, {'name': 'Pastor Consultation services delivered.', 'count': 38}, {'name': 'Housing Assistance services delivered.', 'count': 35}, {'name': 'Computer services delivered.', 'count': 16}, {'name': 'Toiletrie services delivered.', 'count': 7}]

           servicename  total
0                Meals   2167
1               Shower    749
2             Clothing    360
3                Nurse    203
4              Laundry    182
5          Group Class    116
6  Pastor Consultation     38
7   Housing Assistance     35
8             Computer     16
9            Toiletrie      7

# Services delivered by sub-interval within the report period #

In [10]:
collection = {}
collection["name"] = "Services"

#query = "SELECT to_char(timestamp,'{}') AS period, \
#         service.name AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_service service ON service.idservice=servicerequest.service_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' \
#         GROUP BY period, servicename".format(trange[2], trange[0], trange[1])

query = "SELECT to_char(timestamp,'{}') AS period, \
         left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot \
         JOIN guestbook_service service ON service.idservice=servicerequest.service_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND service.points<=0 \
         GROUP BY period, servicename".format(trange[2], trange[0], trange[1])



print(query)

data = pd.read_sql(query, conn)

services = data.pivot_table('total', index=['period'], columns='servicename').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = services 
collection["colwidths"] = [30, 20, 20, 20, 20, 20, 20, 20]
collections.append(collection)

services.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot          JOIN guestbook_service service ON service.idservice=servicerequest.service_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999' AND service.points<=0          GROUP BY period, servicename

servicename,period,Clothing,Computer,Group Class,Housing Assistance,Laundry,Meals,Nurse,Pastor Consultation,Shower,Toiletrie
0,2022-07/01 26,6,0,3,0,1,28,6,1,10,0
1,2022-07/04 27,0,0,0,0,0,25,0,1,7,0
2,2022-07/05 27,7,1,5,0,4,39,2,0,14,0
3,2022-07/07 27,9,0,0,0,3,28,6,1,10,0
4,2022-07/08 27,9,0,2,0,1,35,7,0,15,0
5,2022-07/11 28,10,0,0,0,6,45,11,3,16,0
6,2022-07/12 28,3,0,6,2,3,39,2,0,7,0
7,2022-07/13 28,6,1,0,2,3,35,2,2,13,1
8,2022-07/14 28,12,0,2,3,4,34,3,3,13,1
9,2022-07/15 28,2,0,0,0,3,31,3,2,6,0
10,2022-07/18 29,4,0,0,1,3,28,2,0,11,0
11,2022-07/19 29,7,1,5,2,4,48,1,0,10,0
12,2022-07/20 29,7,1,0,0,1,34,8,1,7,0
13,2022-07/21 29,4,0,0,0,3,36,6,2,18,0
14,2022-07/22 29,3,1,5,1,1,38,4,1,9,1
15,2022-07/25 30,8,0,0,0,4,39,7,1,11,0
16,2022-07/26 30,7,0,3,1,3,42,0,0,10,0
17,2022-07/27 30,4,0,0,1,2,40,7,3,12,0
18,2022-07/28 30,8,0,0,0,3,33,7,0,11,0
19,2022-07/29 30,3,1,0,0,3,34,2,2,11,0
20,2022-08/01 31,8,0,0,0,3,39,6,0,14,0
21,2022-08/02 31,4,0,1,0,3,31,1,0,13,0
22,2022-08/04 31,4,0,0,2,3,29,4,0,15,0
23,2022-08/05 31,5,1,0,1,2,37,5,0,9,0
24,2022-08/08 32,7,0,0,1,5,36,4,0,14,0
25,2022-08/09 32,5,0,2,1,5,32,1,0,12,0
26,2022-08/10 32,4,1,0,0,0,26,2,0,6,0
27,2022-08/11 32,3,0,0,0,0,26,4,0,8,0
28,2022-08/12 32,2,1,0,0,4,32,5,0,13,0
29,2022-08/15 33,5,1,0,0,2,32,3,0,11,0
...,...,...,...,...,...,...,...,...,...,...,...
32,2022-08/18 33,6,0,0,0,3,26,2,0,9,0
33,2022-08/19 33,6,0,1,1,2,24,1,0,10,0
34,2022-08/22 34,2,1,3,0,4,42,6,0,13,0
35,2022-08/23 34,0,0,0,3,1,32,1,0,11,0
36,2022-08/24 34,7,0,3,2,4,35,4,0,8,2
37,2022-08/25 34,6,0,0,0,2,31,1,2,10,0
38,2022-08/26 34,5,0,0,0,3,34,3,1,17,0
39,2022-08/29 35,4,0,3,0,6,36,0,2,13,0
40,2022-08/30 35,6,0,2,0,5,35,3,0,17,0
41,2022-08/31 35,8,0,3,1,2,34,3,0,10,0
42,2022-09/01 35,7,0,0,0,3,26,4,0,6,0
43,2022-09/02 35,6,0,0,0,1,28,4,1,17,0
44,2022-09/06 36,11,0,1,0,3,37,3,0,12,0
45,2022-09/08 36,7,0,0,3,1,33,6,1,12,0
46,2022-09/09 36,8,0,0,0,2,28,2,0,13,0
47,2022-09/12 37,10,0,7,0,5,47,7,2,20,0
48,2022-09/13 37,3,0,7,0,5,38,2,1,11,0
49,2022-09/14 37,8,0,7,0,2,41,5,0,16,1
50,2022-09/15 37,6,1,1,0,3,34,3,0,12,0
51,2022-09/16 37,5,1,3,1,3,32,2,0,14,1
52,2022-09/19 38,7,0,10,2,8,52,3,0,19,0
53,2022-09/20 38,1,0,6,0,2,34,0,0,10,0
54,2022-09/21 38,0,0,1,0,5,41,5,0,17,0
55,2022-09/22 38,8,0,0,2,3,33,2,0,12,0
56,2022-09/23 38,5,0,0,0,0,32,0,3,13,0
57,2022-09/26 39,10,0,7,0,8,49,5,0,20,0
58,2022-09/27 39,5,0,6,0,3,41,1,0,13,0
59,2022-09/28 39,6,0,6,0,3,38,0,0,11,0
60,2022-09/29 39,9,0,0,0,3,37,1,0,11,0
61,2022-09/30 39,7,0,0,0,0,30,0,0,13,0

# Housing totals within the report period#

In [11]:
query = "SELECT  \
         left(housing.name, strpos(housing.name, '(') - 1)  AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
         GROUP BY hresponse".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = " Days spent in " + data.iloc[n,0] 
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)

data.head(1000)

SELECT           left(housing.name, strpos(housing.name, '(') - 1)  AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999' AND prompt_id=8          GROUP BY hresponse
[{'name': 'Total distinct clients in report period', 'count': 342}, {'name': 'Meals services delivered.', 'count': 2167}, {'name': 'Shower services delivered.', 'count': 749}, {'name': 'Clothing services delivered.', 'count': 360}, {'name': 'Nurse services delivered.', 'count': 203}, {'name': 'Laundry services delivered.', 'count': 182}, {'name': 'Group Class services delivered.', 'count': 116}, {'name': 'Pastor Consultation services delivered.', 'count': 38}, {'name': 'Housing Assistance services delivered.', 'count': 35}, {'name': 'Computer services delivered.', 'count': 16}, {'name': 'Toiletrie services delivered.', 'count': 7}, {'name': ' Days spent in Unstable housing ', 'count': 308}, {'name': ' Days spent in Jail or priso', 'count': 2}, {'name': ' Days spent in Sheltered ', 'count': 504}, {'name': ' Days spent in Stable housing ', 'count': 177}, {'name': ' Days spent in Unsheltered ', 'count': 1323}]

           hresponse  total
0  Unstable housing     308
1      Jail or priso      2
2         Sheltered     504
3    Stable housing     177
4       Unsheltered    1323

# Housing by sub-interval within the report period#
* Answers to the prompt 'Where did you spend last night?'

In [12]:
collection = {}
collection["name"] = "Housing"

#query = "SELECT to_char(timestamp,'{}') AS period, \
#         housing.name AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
#         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

query = "SELECT to_char(timestamp,'{}') AS period, \
         left(housing.name, strpos(housing.name, '(') - 1) AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

housing = data.pivot_table('total', index=['period'], columns='hresponse').fillna(0).astype(int).reset_index('period')
#housing = housing.fillna(0)
collection["dataframe"] = housing  
collection["colwidths"] = [30, 30, 30, 30, 30, 30]
collections.append(collection)
housing.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          left(housing.name, strpos(housing.name, '(') - 1) AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999' AND prompt_id=8          GROUP BY period, hresponse

hresponse,period,Jail or priso,Sheltered,Stable housing,Unsheltered,Unstable housing
0,2022-07/01 26,0,6,6,18,5
1,2022-07/04 27,1,10,1,13,0
2,2022-07/05 27,0,10,3,18,12
3,2022-07/06 27,0,0,0,2,0
4,2022-07/07 27,0,6,3,17,4
5,2022-07/08 27,0,6,1,22,11
6,2022-07/11 28,0,9,3,30,4
7,2022-07/12 28,0,12,2,23,5
8,2022-07/13 28,0,6,3,22,4
9,2022-07/14 28,0,10,5,19,4
10,2022-07/15 28,0,8,1,20,10
11,2022-07/18 29,0,8,6,12,3
12,2022-07/19 29,0,14,8,22,5
13,2022-07/20 29,1,8,8,14,5
14,2022-07/21 29,0,6,4,23,4
15,2022-07/22 29,0,11,2,22,6
16,2022-07/25 30,0,10,5,21,5
17,2022-07/26 30,0,12,7,19,5
18,2022-07/27 30,0,8,5,24,7
19,2022-07/28 30,0,14,1,18,4
20,2022-07/29 30,0,15,0,15,8
21,2022-08/01 31,0,8,2,24,7
22,2022-08/02 31,0,7,2,19,3
23,2022-08/04 31,0,9,3,20,1
24,2022-08/05 31,0,8,6,19,5
25,2022-08/08 32,0,6,2,24,5
26,2022-08/09 32,0,5,4,24,2
27,2022-08/10 32,0,5,3,15,4
28,2022-08/11 32,0,8,0,14,6
29,2022-08/12 32,0,8,1,22,3
...,...,...,...,...,...,...
33,2022-08/18 33,0,4,0,22,2
34,2022-08/19 33,0,5,3,16,4
35,2022-08/22 34,0,10,2,22,9
36,2022-08/23 34,0,8,3,18,5
37,2022-08/24 34,0,9,3,19,5
38,2022-08/25 34,0,6,1,23,6
39,2022-08/26 34,0,6,3,20,9
40,2022-08/29 35,0,8,3,21,4
41,2022-08/30 35,0,7,3,25,2
42,2022-08/31 35,0,10,5,15,5
43,2022-09/01 35,0,6,1,15,5
44,2022-09/02 35,0,5,0,23,3
45,2022-09/06 36,0,7,1,28,3
46,2022-09/08 36,0,15,0,19,4
47,2022-09/09 36,0,5,1,20,3
48,2022-09/12 37,0,11,5,28,4
49,2022-09/13 37,0,13,3,21,4
50,2022-09/14 37,0,9,1,30,5
51,2022-09/15 37,0,3,1,27,6
52,2022-09/16 37,0,7,3,22,5
53,2022-09/19 38,0,17,4,24,9
54,2022-09/20 38,0,10,3,20,3
55,2022-09/21 38,0,6,2,31,3
56,2022-09/22 38,0,4,0,23,9
57,2022-09/23 38,0,4,0,26,7
58,2022-09/26 39,0,14,4,26,6
59,2022-09/27 39,0,11,4,24,4
60,2022-09/28 39,0,6,6,23,3
61,2022-09/29 39,0,5,1,26,4
62,2022-09/30 39,0,2,2,24,2

# Clients (by name) Reporting Unsheltered Housing #
* more than once in the report period

In [13]:
collection = {}
collection["name"] = "Unsheltered_by_Name"

unsheltered = 5
threshold = 1

#query = "SELECT to_char(timestamp,'{}') AS period, \
#         housing.name AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
#         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

query = "SELECT person.firstname, person.lastname, person.aliasname, \
         COUNT(*) AS unsheltered_nights FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 AND object_id={} \
         GROUP BY person.idperson ORDER BY COUNT(*) desc".format(trange[0], trange[1], unsheltered)

print(query)

data = pd.read_sql(query, conn)
data.head(100)

#housing = data.pivot_table('total', index=['period'], columns='hresponse').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = data 
collection["colwidths"] = [30, 30, 30, 30, 30, 30]
collections.append(collection)
data.head(1000)

SELECT person.firstname, person.lastname, person.aliasname,          COUNT(*) AS unsheltered_nights FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999' AND prompt_id=8 AND object_id=5          GROUP BY person.idperson ORDER BY COUNT(*) desc

,firstname,lastname,aliasname,unsheltered_nights
0,STEPHANIE,HELMS,STEPH,59
1,AARON,AYERS,AARONA,47
2,MARTY,WEST,0000MARTY_WEST,47
3,CHARLEY,BLISSIT JR,KAKAROTT,46
4,ROBERT,RAMIN,1234ROBERT_RAMIN,46
5,DAVID,STIREWALT,HAWK,43
6,KAYSE,SIERRA,1234KAYSE_SI,39
7,RICHARD,NELTON,0000RICHARD_NELTON,30
8,PAUL,FURR,0000PAUL_FURR,28
9,RANDY,HARRINGTON,RANDYH,28
10,ROBERT,LAMBERT,RLAMBERT,26
11,DHARMENDRA,PANDYA,0000DHARMENDRA_PANDYA,25
12,DAVID,QUERY,0000DAVID_QU,24
13,PAUL,MCDOWELL,0000PAUL_MCD,23
14,TAMMY,COLLINS,0000TAMMY_CO,23
15,BARBARA,MAYBERRY,1234BARBARA_MAYBERRY,22
16,REGINALD,MOODY,REG,21
17,SUE,ADAMS-STEINKAMP,1234SUE_ADAMS-STEINKAMP,20
18,HEATHER,CONSTABLE,0000HEATHER_,20
19,DONNIE,CLONTZ,DCLONTZ,18
20,DEANGELO,FRANKLIN,DEANGELO27,16
21,CHRIS,MCKINNON,CHRIS,16
22,ROBERT,LYNCH,RLYNCH,16
23,ANTONIO,MORRIS,TONIO,15
24,SHANNON,SAPOCH,0000SHANNON_,15
25,BRANDIE,MOOSE,1234BRANDIE_MOOSE,14
26,KRISTI,JONES,KRISTIJ,14
27,HAROLD,BOST,HBOST,14
28,JOHNNY,CHAVIS,JOHNNY,13
29,BRANDON,COLTRAIN,0000BRANDON_COLTRAIN,13
...,...,...,...,...
162,ANTWAN,WHITING,0000ANTWAN_WHITING,1
163,FRANK,FLEMING,FRANKF,1
164,RONALD,CALL,0000RONALD_CALL,1
165,RICKY,HAMES,BEEAST,1
166,CLIFTON,REDDICK,0000CLIFTON_REDDICK,1
167,JOSNNE,WALLACE,0000JOSNNE_WALLACE,1
168,RICHARD,JONES,0000RICHARD_JONES,1
169,DALE,MOTLEY,DALE6090,1
170,DARRICK,SUTTON,NYA,1
171,HAROLD,CALDWELL,HAROLDC,1
172,SHANNON,MCCARTHY,0191SHANNON_MCCARTHY,1
173,JOHN,STEVSON,0000JOHN_STEVSON,1
174,LAKISHA,KIRK,0000LAKISHA_KIRK,1
175,MARCUS,GOODE,0000MARCUS_GOODE,1
176,DONNIE,VINCENT,DONNIE,1
177,JEFFREY,ZUMBACH,0000JEFFREY_,1
178,RANDAL,PARKER,0000RANDAL_PARKER,1
179,JIMMY,TOWNSEND,JIMT,1
180,JESSE,DRYE,1234JESSE_DRYE,1
181,ROBIN,LEHMAN,0000ROBIN_LE,1
182,DARRELL,SPEARS,1234DARRELL_SPEARS,1
183,RICHARD (ALLEN),MELTON,1234RICHARD (ALLEN)_MELTON,1
184,UNITY,SIMMONS,0000UNITY_SI,1
185,BRANDON,MILLER,BJM,1
186,FRANK,FLEMMING,FRANK2,1
187,ROBIN,SLIGH,0000ROBIN_SLIGH,1
188,CLAYTON,CRAWFORD,0000CLAYTON _CRAWFORD,1
189,ROGER,BAKER,ROGERB,1
190,MIYA,RECONCO,0000MIYA_RECONCO,1
191,ALEX,LONG,ALLY08,1

# Clients Reporting Incarceration in last 90 days #

In [14]:
collection = {}
collection["name"] = "Incarcerations"


#query = "SELECT to_char(timestamp,'{}') AS period, \
#         housing.name AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
#         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

query = "SELECT person.idperson, person.firstname, person.lastname\
         FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         WHERE survey.object_id=2 AND timestamp BETWEEN '{}' AND '{}' AND prompt_id=4 \
         GROUP BY person.idperson, person.firstname, person.lastname \
         ORDER BY person.idperson".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

#housing = data.pivot_table('total', index=['period'], columns='hresponse').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = data 
collection["colwidths"] = [30, 30, 30]
collections.append(collection)
data.head(1000)

SELECT person.idperson, person.firstname, person.lastname         FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          WHERE survey.object_id=2 AND timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999' AND prompt_id=4          GROUP BY person.idperson, person.firstname, person.lastname          ORDER BY person.idperson

    idperson  firstname   lastname
0         76      LARRY       LANE
1        169    LARRITT   SHEPPARD
2        221      FRANK    FLEMING
3        281   KIMBERLY  ALEXANDER
4        315      TERRY    GARLAND
5        479   REGINALD      MOODY
6        575      JAMES  NICHOLSON
7        674     DONNIE    VINCENT
8        828    ROBERTL      LYNCH
9        947     KRISTI      JONES
10       975    MICHAEL    JACKSON
11      1016    CAMERON      HORNE
12      1217     ROBERT      HOWIE
13      1238     HAROLD       BOST
14      1289       CURT       EUDY
15      1319     TERRIE     WRIGHT
16      1350      BRIAN    WORKMAN
17      1358    TERRELL     WARNER
18      1469    SHANNON     SAPOCH
19      1483      DAVID      QUERY
20      1493      UNITY    SIMMONS
21      1569    HEATHER  CONSTABLE
22      1678    PATRICK    MCNEILL
23      1805      DONNA      LAWRY
24      1825      ELEHA      FELIX
25      1858      DONNA    OVERBEY
26      1860     HAROLD       BOST
27      1883    MICHAEL     WATTES
28      1898      MARTY       WEST
29      1900      JAMES      KISER
30      1906    JASMINE       GRAY
31      1919    RICHARD     NELTON
32      1924       JOHN  MCCLENDON
33      1935     CARLOS    JACKSON
34      1977  ALEXANDER       DUTY
35      2009    YAVONKA       BYRD

# Gender totals in the report period #

In [15]:
query = "SELECT  \
         gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY response".format(trange[0], trange[1])

print(query)
#summaries = []

data = pd.read_sql(query, conn)

for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = "Gender -" + data.iloc[n,0] 
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)

data.head(100)

SELECT           gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY response
[{'name': 'Total distinct clients in report period', 'count': 342}, {'name': 'Meals services delivered.', 'count': 2167}, {'name': 'Shower services delivered.', 'count': 749}, {'name': 'Clothing services delivered.', 'count': 360}, {'name': 'Nurse services delivered.', 'count': 203}, {'name': 'Laundry services delivered.', 'count': 182}, {'name': 'Group Class services delivered.', 'count': 116}, {'name': 'Pastor Consultation services delivered.', 'count': 38}, {'name': 'Housing Assistance services delivered.', 'count': 35}, {'name': 'Computer services delivered.', 'count': 16}, {'name': 'Toiletrie services delivered.', 'count': 7}, {'name': ' Days spent in Unstable housing ', 'count': 308}, {'name': ' Days spent in Jail or priso', 'count': 2}, {'name': ' Days spent in Sheltered ', 'count': 504}, {'name': ' Days spent in Stable housing ', 'count': 177}, {'name': ' Days spent in Unsheltered ', 'count': 1323}, {'name': 'Gender -Female', 'count': 47}, {'name': 'Gender -Male', 'count': 116}, {'name': 'Gender -Unknown', 'count': 179}]

  response  total
0   Female     47
1     Male    116
2  Unknown    179

# Gender by sub-interval within the report period #

In [16]:
collection = {}
collection["name"] = "Gender"

query = "SELECT to_char(timestamp,'{}') AS period, \
         gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period, response".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

gender = data.pivot_table('total', index=['period'], columns='response').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = gender
collection["colwidths"] = [30, 20, 20, 20]
#collection["colwidths"] = []
collections.append(collection)
gender.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY period, response

response         period  Female  Male  Unknown
0         2022-07/01 26       7    19       13
1         2022-07/04 27       4    12        9
2         2022-07/05 27       7    23       13
3         2022-07/06 27       0     1        1
4         2022-07/07 27       9    15       11
5         2022-07/08 27       6    25       18
6         2022-07/11 28      12    22       16
7         2022-07/12 28      10    20       12
8         2022-07/13 28      11    15       12
9         2022-07/14 28       4    16       22
10        2022-07/15 28       5    20       16
11        2022-07/18 29       6    15       10
12        2022-07/19 29       8    28       15
13        2022-07/20 29       5    15       17
14        2022-07/21 29       4    22       12
15        2022-07/22 29       8    21       14
16        2022-07/25 30       7    22       12
17        2022-07/26 30       6    25       19
18        2022-07/27 30       8    23       13
19        2022-07/28 30       4    17       18
20        2022-07/29 30       7    17       17
21        2022-08/01 31       4    19       18
22        2022-08/02 31       5    17       10
23        2022-08/04 31       5    18       12
24        2022-08/05 31       5    18       16
25        2022-08/08 32       7    19       14
26        2022-08/09 32       6    19       12
27        2022-08/10 32       5    17        7
28        2022-08/11 32       4    13       13
29        2022-08/12 32       8    17        9
..                  ...     ...   ...      ...
33        2022-08/18 33       5    14       10
34        2022-08/19 33       3    15       10
35        2022-08/22 34       6    22       18
36        2022-08/23 34       4    18       13
37        2022-08/24 34       9    17       11
38        2022-08/25 34       7    15       16
39        2022-08/26 34       7    17       12
40        2022-08/29 35       6    21       11
41        2022-08/30 35       6    20       11
42        2022-08/31 35       6    18       14
43        2022-09/01 35       5    10       12
44        2022-09/02 35       5    15       11
45        2022-09/06 36       5    21       15
46        2022-09/08 36       3    17       18
47        2022-09/09 36       5    19        8
48        2022-09/12 37       9    23       18
49        2022-09/13 37       5    23       14
50        2022-09/14 37       5    21       18
51        2022-09/15 37       5    20       14
52        2022-09/16 37       5    16       18
53        2022-09/19 38       6    30       20
54        2022-09/20 38       8    16       12
55        2022-09/21 38       6    21       15
56        2022-09/22 38       6    15       17
57        2022-09/23 38       5    19       14
58        2022-09/26 39       9    22       21
59        2022-09/27 39      11    19       18
60        2022-09/28 39       5    18       16
61        2022-09/29 39       6    17       14
62        2022-09/30 39       6    15       10

[63 rows x 4 columns]

# Ethnicity totals within the report period #

In [17]:
query = "SELECT  \
         ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY response".format(trange[0], trange[1])

print(query)
#summaries = []

data = pd.read_sql(query, conn)
for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = "Ethnicity -" + data.iloc[n,0] 
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)
data.head(1000)

SELECT           ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY response
[{'name': 'Total distinct clients in report period', 'count': 342}, {'name': 'Meals services delivered.', 'count': 2167}, {'name': 'Shower services delivered.', 'count': 749}, {'name': 'Clothing services delivered.', 'count': 360}, {'name': 'Nurse services delivered.', 'count': 203}, {'name': 'Laundry services delivered.', 'count': 182}, {'name': 'Group Class services delivered.', 'count': 116}, {'name': 'Pastor Consultation services delivered.', 'count': 38}, {'name': 'Housing Assistance services delivered.', 'count': 35}, {'name': 'Computer services delivered.', 'count': 16}, {'name': 'Toiletrie services delivered.', 'count': 7}, {'name': ' Days spent in Unstable housing ', 'count': 308}, {'name': ' Days spent in Jail or priso', 'count': 2}, {'name': ' Days spent in Sheltered ', 'count': 504}, {'name': ' Days spent in Stable housing ', 'count': 177}, {'name': ' Days spent in Unsheltered ', 'count': 1323}, {'name': 'Gender -Female', 'count': 47}, {'name': 'Gender -Male', 'count': 116}, {'name': 'Gender -Unknown', 'count': 179}, {'name': 'Ethnicity -Black', 'count': 87}, {'name': 'Ethnicity -Hispanic', 'count': 2}, {'name': 'Ethnicity -Native American', 'count': 3}, {'name': 'Ethnicity -Other', 'count': 4}, {'name': 'Ethnicity -Unknown', 'count': 161}, {'name': 'Ethnicity -White', 'count': 85}]

          response  total
0            Black     87
1         Hispanic      2
2  Native American      3
3            Other      4
4          Unknown    161
5            White     85

# Ethnicity by sub-interval within the report period #

In [18]:
collection = {}
collection["name"] = "Ethnicity"

query = "SELECT to_char(timestamp,'{}') AS period, \
         ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period, response".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

ethnicity = data.pivot_table('total', index=['period'], columns='response').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = ethnicity 
collection["colwidths"] = [30, 20, 20, 20, 20, 20, 20, 20]
collections.append(collection)
ethnicity.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY period, response

response,period,Black,Hispanic,Native American,Other,Unknown,White
0,2022-07/01 26,12,0,1,1,12,13
1,2022-07/04 27,9,0,0,0,7,9
2,2022-07/05 27,17,1,1,0,10,14
3,2022-07/06 27,1,0,0,0,0,1
4,2022-07/07 27,12,0,0,1,9,13
5,2022-07/08 27,16,0,1,2,16,14
6,2022-07/11 28,14,0,0,1,13,22
7,2022-07/12 28,13,0,1,1,10,17
8,2022-07/13 28,13,0,0,1,12,12
9,2022-07/14 28,11,0,0,1,18,12
10,2022-07/15 28,12,0,1,2,13,13
11,2022-07/18 29,13,0,0,0,7,11
12,2022-07/19 29,21,0,1,0,12,17
13,2022-07/20 29,10,0,0,1,14,12
14,2022-07/21 29,13,0,1,1,9,14
15,2022-07/22 29,14,0,0,2,10,17
16,2022-07/25 30,14,0,0,1,10,16
17,2022-07/26 30,15,0,1,2,16,16
18,2022-07/27 30,16,0,0,2,11,15
19,2022-07/28 30,13,0,0,1,15,10
20,2022-07/29 30,12,0,1,0,13,15
21,2022-08/01 31,13,0,0,1,13,14
22,2022-08/02 31,10,0,1,1,8,12
23,2022-08/04 31,10,0,1,0,9,15
24,2022-08/05 31,14,0,0,0,13,12
25,2022-08/08 32,13,0,0,0,10,17
26,2022-08/09 32,10,0,1,1,10,15
27,2022-08/10 32,8,0,0,1,5,15
28,2022-08/11 32,8,0,0,1,10,11
29,2022-08/12 32,12,0,1,0,6,15
...,...,...,...,...,...,...,...
33,2022-08/18 33,8,0,0,0,8,13
34,2022-08/19 33,6,0,1,0,10,11
35,2022-08/22 34,13,0,1,0,18,14
36,2022-08/23 34,12,0,0,1,11,11
37,2022-08/24 34,12,0,1,0,11,13
38,2022-08/25 34,10,0,0,0,14,14
39,2022-08/26 34,7,1,3,0,12,13
40,2022-08/29 35,13,1,2,0,9,13
41,2022-08/30 35,6,1,1,1,10,18
42,2022-08/31 35,8,1,1,0,14,14
43,2022-09/01 35,7,1,2,0,10,7
44,2022-09/02 35,9,1,1,0,10,10
45,2022-09/06 36,7,1,1,2,15,15
46,2022-09/08 36,5,2,2,1,16,12
47,2022-09/09 36,10,1,1,1,7,12
48,2022-09/12 37,15,0,1,0,16,18
49,2022-09/13 37,13,0,1,2,12,14
50,2022-09/14 37,15,0,0,1,17,11
51,2022-09/15 37,14,0,0,0,13,12
52,2022-09/16 37,11,0,0,1,15,12
53,2022-09/19 38,21,0,1,1,18,15
54,2022-09/20 38,8,1,1,2,11,13
55,2022-09/21 38,11,0,0,1,13,17
56,2022-09/22 38,8,0,0,1,15,14
57,2022-09/23 38,11,0,1,0,13,13
58,2022-09/26 39,14,0,1,1,19,17
59,2022-09/27 39,11,0,1,1,18,17
60,2022-09/28 39,12,0,0,1,15,11
61,2022-09/29 39,11,0,0,2,13,11
62,2022-09/30 39,11,0,0,0,9,11

# Veteran status totals within the report period#

In [19]:
query = "SELECT  \
         yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY response \
         ORDER BY response desc".format(trange[0], trange[1])

print(query)
#summaries = []

data = pd.read_sql(query, conn)

for n in range(0, data.shape[0]):  
  summary = {}
  if data.iloc[n,0]=="Yes":
    summary["name"] = "Veterans"
  elif data.iloc[n,0]=="No":
    summary["name"] = "Non-veterans"
  else:
    summary["name"] = "Veteran status Unknown"
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)

data.head(1000)

SELECT           yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY response          ORDER BY response desc
[{'name': 'Total distinct clients in report period', 'count': 342}, {'name': 'Meals services delivered.', 'count': 2167}, {'name': 'Shower services delivered.', 'count': 749}, {'name': 'Clothing services delivered.', 'count': 360}, {'name': 'Nurse services delivered.', 'count': 203}, {'name': 'Laundry services delivered.', 'count': 182}, {'name': 'Group Class services delivered.', 'count': 116}, {'name': 'Pastor Consultation services delivered.', 'count': 38}, {'name': 'Housing Assistance services delivered.', 'count': 35}, {'name': 'Computer services delivered.', 'count': 16}, {'name': 'Toiletrie services delivered.', 'count': 7}, {'name': ' Days spent in Unstable housing ', 'count': 308}, {'name': ' Days spent in Jail or priso', 'count': 2}, {'name': ' Days spent in Sheltered ', 'count': 504}, {'name': ' Days spent in Stable housing ', 'count': 177}, {'name': ' Days spent in Unsheltered ', 'count': 1323}, {'name': 'Gender -Female', 'count': 47}, {'name': 'Gender -Male', 'count': 116}, {'name': 'Gender -Unknown', 'count': 179}, {'name': 'Ethnicity -Black', 'count': 87}, {'name': 'Ethnicity -Hispanic', 'count': 2}, {'name': 'Ethnicity -Native American', 'count': 3}, {'name': 'Ethnicity -Other', 'count': 4}, {'name': 'Ethnicity -Unknown', 'count': 161}, {'name': 'Ethnicity -White', 'count': 85}, {'name': 'Veterans', 'count': 10}, {'name': 'Veteran status Unknown', 'count': 191}, {'name': 'Non-veterans', 'count': 141}]

  response  total
0      Yes     10
1  Unknown    191
2       No    141

# Veteran Status by sub-interval within the report period#

In [20]:
collection = {}
collection["name"] = "Veterans"

query = "SELECT to_char(timestamp,'{}') AS period, \
         yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period, response".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)
#data.head(1000)



veterans  = data.pivot_table('total', index=['period'], columns='response').fillna(0).astype(int).reset_index('period')
veterans.columns = ['period', 'non-veteran', 'unknown','veteran']
collection["dataframe"] = veterans 
collection["colwidths"] = [30, 30, 30, 30]
collections.append(collection)
veterans.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id          WHERE timestamp BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          GROUP BY period, response

           period  non-veteran  unknown  veteran
0   2022-07/01 26           25       13        1
1   2022-07/04 27           15        9        1
2   2022-07/05 27           29       13        1
3   2022-07/06 27            1        1        0
4   2022-07/07 27           23       11        1
5   2022-07/08 27           29       19        1
6   2022-07/11 28           31       16        3
7   2022-07/12 28           29       12        1
8   2022-07/13 28           24       12        2
9   2022-07/14 28           18       23        1
10  2022-07/15 28           25       16        0
11  2022-07/18 29           20       10        1
12  2022-07/19 29           34       15        2
13  2022-07/20 29           19       17        1
14  2022-07/21 29           24       12        2
15  2022-07/22 29           28       15        0
16  2022-07/25 30           27       12        2
17  2022-07/26 30           30       19        1
18  2022-07/27 30           31       13        0
19  2022-07/28 30           21       18        0
20  2022-07/29 30           24       17        0
21  2022-08/01 31           22       18        1
22  2022-08/02 31           22       10        0
23  2022-08/04 31           23       12        0
24  2022-08/05 31           22       17        0
25  2022-08/08 32           26       14        0
26  2022-08/09 32           24       12        1
27  2022-08/10 32           21        7        1
28  2022-08/11 32           16       14        0
29  2022-08/12 32           23       10        1
..            ...          ...      ...      ...
33  2022-08/18 33           19       10        0
34  2022-08/19 33           16       11        1
35  2022-08/22 34           26       19        1
36  2022-08/23 34           21       13        1
37  2022-08/24 34           26       11        0
38  2022-08/25 34           22       16        0
39  2022-08/26 34           22       13        1
40  2022-08/29 35           26       12        0
41  2022-08/30 35           24       13        0
42  2022-08/31 35           22       15        1
43  2022-09/01 35           14       13        0
44  2022-09/02 35           18       13        0
45  2022-09/06 36           25       16        0
46  2022-09/08 36           19       18        1
47  2022-09/09 36           22        8        2
48  2022-09/12 37           30       18        2
49  2022-09/13 37           26       15        1
50  2022-09/14 37           24       19        1
51  2022-09/15 37           23       15        1
52  2022-09/16 37           18       19        2
53  2022-09/19 38           33       22        1
54  2022-09/20 38           22       12        2
55  2022-09/21 38           23       16        3
56  2022-09/22 38           19       18        1
57  2022-09/23 38           19       16        3
58  2022-09/26 39           28       23        1
59  2022-09/27 39           27       19        2
60  2022-09/28 39           22       16        1
61  2022-09/29 39           22       14        1
62  2022-09/30 39           19       10        2

[63 rows x 4 columns]

# New Clients within the report period#
* Clients first appearing in the report interval

In [21]:
collection = {}
collection["name"] = "New Clients"

query = "SELECT firstname, lastname, aliasname, timelinestarttime::date AS startdate FROM guestbook_person \
         WHERE timelinestarttime BETWEEN '{}' AND '{}' \
         ORDER BY timelinestarttime asc".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)
collection["dataframe"] = data
collection["colwidths"] = [30, 30, 30, 30]
collections.append(collection)

data.head(5000)

SELECT firstname, lastname, aliasname, timelinestarttime::date AS startdate FROM guestbook_person          WHERE timelinestarttime BETWEEN '2022-07-01 00:00:00' AND '2022-09-30 23:59:59.999999'          ORDER BY timelinestarttime asc

     firstname           lastname                      aliasname   startdate
0        ROBIN              SLIGH                0000ROBIN_SLIGH  2022-07-01
1      MELISSA               HESS               8103MELISSA_HESS  2022-07-01
2      RICHARD             NELTON             0000RICHARD_NELTON  2022-07-05
3         RUTH              HOOKS                 0000RUTH_HOOKS  2022-07-07
4        JANET            JACKSON              0000JANET_JACKSON  2022-07-07
5       SELENA            JOHNSON             5635SELENA_JOHNSON  2022-07-08
6       DUSTIN             GRIMES              0000DUSTIN_GRIMES  2022-07-08
7         JOHN          MCCLENDON             9235JOHNBMCCLENDON  2022-07-08
8      CYNTHIA             PHARES             0000CYNTHIA_PHARES  2022-07-11
9     LISANDRO              GOMEZ             0000LISANDRO_GOMEZ  2022-07-13
10    JENNIFER           WILLIAMS          0000JENNIFER_WILLIAMS  2022-07-13
11    JONATHAN              HAYES             0000JONATHAN_HAYES  2022-07-13
12     LAKISHA               KIRK               0000LAKISHA_KIRK  2022-07-13
13       BRYAN             PARKER               0000BRYAN_PARKER  2022-07-14
14        ADA,             PINYAN                0000ADA,_PINYAN  2022-07-14
15      SELENA            JOHNSON             0000SELENA_JOHNSON  2022-07-14
16     SHELDON              PARKS              0000SHELDON_PARKS  2022-07-14
17        ADAM             PINYAN                0000ADAM_PINYAN  2022-07-14
18      CARLOS            JACKSON             1997CARLOS_JACKSON  2022-07-15
19     SHEAKIA            EDWARDS            0000SHEAKIA_EDWARDS  2022-07-18
20       BRYAN         CUNNINGHAM           0000BRYAN_CUNNINGHAM  2022-07-18
21   SHAMEELAH             TALLEY           0000SHAMEELAH_TALLEY  2022-07-19
22    JAMILLAH           CALDWELL          0000JAMILLAH_CALDWELL  2022-07-19
23     SHANICE  PUREFOY-ROBERTSON  0000SHANICE_PUREFOY-ROBERTSON  2022-07-20
24       DAVID             NGUYEN               0000DAVID_NGUYEN  2022-07-20
25     MICHAEL           TERRANCE           0000MICHAEL_TERRANCE  2022-07-20
26       TERRY              BURKE                0000TERRY_BURKE  2022-07-21
27     MICHAEL              BLAKE              0000MICHAEL_BLAKE  2022-07-21
28    MARGARET              JONES             0000MARGARET_JONES  2022-07-26
29    MARGARET              JONES             6676MARGARET_JONES  2022-07-26
..         ...                ...                            ...         ...
73       WAYNE              GOODE                0000WAYNE_GOODE  2022-09-02
74     KENNETH              HENRY              8288KENNETH_HENRY  2022-09-06
75      RANDAL             PARKER              0000RANDAL_PARKER  2022-09-06
76       JESSE               DRYE                 1234JESSE_DRYE  2022-09-06
77     JEFFERY               ROOS               0000JEFFERY_ROOS  2022-09-08
78      YVETTE            JACKSON             0000YVETTE_JACKSON  2022-09-08
79        MYIA         SQUIREWELL            0000MYIA_SQUIREWELL  2022-09-08
80       SARAH              MASON                0000SARAH_MASON  2022-09-08
81    MICHELLE           CAMPBELL          0000MICHELLE_CAMPBELL  2022-09-12
82       BILLY         HOLSHOUSER           0000BILLY_HOLSHOUSER  2022-09-12
83        HUGH              PAIGE                 0000HUGH_PAIGE  2022-09-12
84      SANDRA               WEBB                0000SANDRA_WEBB  2022-09-12
85     CHARITY              ALLEN              1234CHARITY_ALLEN  2022-09-13
86       CHRIS             GLASPY               0000CHRIS_GLASPY  2022-09-14
87         BOB         SCHOENFELD             0000BOB_SCHOENFELD  2022-09-14
88        LISA            BARRIER               0000LISA_BARRIER  2022-09-15
89        JOHN            STEVSON               0000JOHN_STEVSON  2022-09-15
90     ANTONIO           WILLIAMS           8043ANTONIO_WILLIAMS  2022-09-16
91       AMBER             HUGHES               0000AMBER_HUGHES  2022-09-19
92     YAVONKA               BYRD               0000YAVONKA_BYRD  2022-09-19
93      ANTWAN            WHITING             0000ANTWAN_WHITING  2022-09-21
94       KEARA             BOUNDS               0000KEARA_BOUNDS  2022-09-21
95     SABRINA             VEAZIE             0000SABRINA_VEAZIE  2022-09-22
96     CYNTHIA              GIVEN              0000CYNTHIA_GIVEN  2022-09-22
97       CHRIS              DOLCE                0000CHRIS_DOLCE  2022-09-22
98    DANIELLE             DRIVER            0000DANIELLE_DRIVER  2022-09-22
99      HEAVEN            BARNETT             0000HEAVEN_BARNETT  2022-09-23
100      PARIS              BLACK                1234PARIS_BLACK  2022-09-27
101      BOBBY             FORBES               1234BOBBY_FORBES  2022-09-27
102    ROSALYN              ROWIE              0000ROSALYN_ROWIE  2022-09-29

[103 rows x 4 columns]

# Summary Counts #

In [22]:
collection = {}
summ = pd.DataFrame.from_dict(summaries)
collection["name"] = "Summary"
collection["dataframe"] = summ
collection["colwidths"] = [30, 60]
collections.insert(1, collection)
#collections.append(collection)
summ.head(1000)

    count                                     name
0     342  Total distinct clients in report period
1    2167                Meals services delivered.
2     749               Shower services delivered.
3     360             Clothing services delivered.
4     203                Nurse services delivered.
5     182              Laundry services delivered.
6     116          Group Class services delivered.
7      38  Pastor Consultation services delivered.
8      35   Housing Assistance services delivered.
9      16             Computer services delivered.
10      7            Toiletrie services delivered.
11    308          Days spent in Unstable housing
12      2              Days spent in Jail or priso
13    504                 Days spent in Sheltered
14    177            Days spent in Stable housing
15   1323               Days spent in Unsheltered
16     47                           Gender -Female
17    116                             Gender -Male
18    179                          Gender -Unknown
19     87                         Ethnicity -Black
20      2                      Ethnicity -Hispanic
21      3               Ethnicity -Native American
22      4                         Ethnicity -Other
23    161                       Ethnicity -Unknown
24     85                         Ethnicity -White
25     10                                 Veterans
26    191                   Veteran status Unknown
27    141                             Non-veterans

In [23]:
_REPORTNAME = _INTERVAL
_SUBJECT = "Opportunity House - Reports for {}".format(toPeriodFriendly(_INTERVAL))
_BODY    = "Spreadsheet (attached) with reports for period {} through {}.".format(trange[0], trange[1])
_EMAIL_RECIPIENT = ['cprice9739@carolina.rr.com', 'jahood1@yahoo.com']
#_EMAIL_RECIPIENT = ['cprice9739@carolina.rr.com', 'pastor@opphouse.net']
#_EMAIL_RECIPIENT = ['cprice9739@carolina.rr.com']

createSpreadsheetAndMailIt(collections, _REPORTNAME, _EMAIL_RECIPIENT, _SUBJECT, _BODY)

Writing dataframe to Excel file PQ-2022-10-17_174758.xlsx
Writing Outline to spreadsheet
colwidths=[30, 100]
Writing Summary to spreadsheet
colwidths=[30, 60]
Writing Distinct Clients to spreadsheet
colwidths=[30, 20]
Writing Services to spreadsheet
colwidths=[30, 20, 20, 20, 20, 20, 20, 20]
Writing Housing to spreadsheet
colwidths=[30, 30, 30, 30, 30, 30]
Writing Unsheltered_by_Name to spreadsheet
colwidths=[30, 30, 30, 30, 30, 30]
Writing Incarcerations to spreadsheet
colwidths=[30, 30, 30]
Writing Gender to spreadsheet
colwidths=[30, 20, 20, 20]
Writing Ethnicity to spreadsheet
colwidths=[30, 20, 20, 20, 20, 20, 20, 20]
Writing Veterans to spreadsheet
colwidths=[30, 30, 30, 30]
Writing New Clients to spreadsheet
colwidths=[30, 30, 30, 30]
Emailer Done!
Excel/Email Done!