In [1]:
import ReportTimerange as rtr
import ReportMailer as rm
import GuestbookDbConnect as gdb

In [2]:
# Install a conda package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /home/gbadmin/anaconda3/envs/OppHouseBooks/lib/python3.7/site-packages (1.2.7)

# Reporting Period #
* PD - yesterday
* PW - previous week
* PM - previous month
* PQ - previous quarter
* PY - previous calendar year
* YTD year to date
* WTD current week to date
* TODAY today
* P90 - previous 90days

In [3]:
acronyms = [ "PD", "PW", "PM", "PQ", "PY", "YTD", "WTD", "TODAY", "P90"]
friendly = [ "Prior Day", "Prior Week", "Prior Month", "Prior Quarter", "Prior Year", "Year to Date", "Week to Date", "Today", "Previous 90 days"]

def toPeriodFriendly(INTERVAL):
    for n in range(0, len(acronyms)):
      if INTERVAL==acronyms[n]:
         return friendly[n]
    return "Unknown Period"

In [4]:
_INTERVAL = "PQ"

In [5]:
from pandas import ExcelWriter
from pandas import ExcelFile
import xlsxwriter
import datetime

def createSpreadsheetAndMailIt(collections, reportname, recipients, subject, body):
  now = datetime.datetime.now().strftime('%Y-%m-%d_%H%M%S')
  filename = reportname + "-" + now + ".xlsx"
  #writer = ExcelWriter(filename)
  writer = ExcelWriter(filename, engine='xlsxwriter')
  workbook = writer.book  
  print("Writing dataframe to Excel file {0}".format(filename))
  for collection in collections:
    print("Writing {} to spreadsheet".format(collection["name"]))
    collection["dataframe"].to_excel(writer, sheet_name=collection["name"], index=False)
    worksheet = writer.sheets[collection["name"]]
    if 'colwidths' in collection:
      colwidths = collection['colwidths']
      print("colwidths={}".format(colwidths))
      for n in range(0, len(colwidths)):
        col = str(chr(65 + n))
        worksheet.set_column('{}:{}'.format(col,col), colwidths[n])
    else:
      worksheet.set_column('A:A', 30)
  writer.save()
  for recipient in recipients: 
    rm.mailer(recipient, subject, body, filename)
  print("Excel/Email Done!")

In [6]:
import psycopg2 as pg
import pandas.io.sql as psql
import pandas as pd

conn = gdb.guestbookDbConnect()

Welcome to Jupyter Notebook.  You are connected to the Opportunity House guestbook database!

In [7]:
trange = rtr.timerange(_INTERVAL)
print(trange)

collections = []
summaries = []

collection = {}
collection["name"] = "Outline"

df = pd.DataFrame({"Report Tab":[ \
              "Summary", \
              "Distinct Clients", \
              "Services", \
              "Housing", \
              "Gender", \
              "Ethnicity", \
              "Veterans", \
              "New Clients"
                                 ], \
                   "Description":[ \
              "summary totals for the report period", \
              "a count of individuals served by sub-period within the period.", \
              "breakdown by service type and sub-period within the period.", \
              "breakdown by housing conditions and sub-period within the period.", \
              "breakdown by gender and sub-period within the period.", \
              "breakdown by ethnicity and sub-period within the period.", \
              "breakdown by veteran status and sub-period within the period.", \
              "a list of clients with first visit occurring in the report period."
                                 ]})

collection["dataframe"] = df 
collection["colwidths"] = [30, 100]
collections.append(collection)



df.head(1000)

[datetime.datetime(2020, 1, 1, 0, 0), datetime.datetime(2020, 3, 31, 23, 59, 59, 999999), 'YYYY-MM/DD WW']

         Report Tab                                        Description
0           Summary               summary totals for the report period
1  Distinct Clients  a count of individuals served by sub-period wi...
2          Services  breakdown by service type and sub-period withi...
3           Housing  breakdown by housing conditions and sub-period...
4            Gender  breakdown by gender and sub-period within the ...
5         Ethnicity  breakdown by ethnicity and sub-period within t...
6          Veterans  breakdown by veteran status and sub-period wit...
7       New Clients  a list of clients with first visit occurring i...

## Total distinct clients in report period ##

In [8]:
summary = {}
summary["name"] = "Total distinct clients in report period"

query = "SELECT min(timestamp)AS start, max(timestamp) AS end, \
         COUNT(DISTINCT person_id) AS clients FROM guestbook_personsnapshot \
         WHERE timestamp BETWEEN '{}' AND '{}'".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

summary["count"] = data.iloc[0,2]
summaries.append(summary)
print(summaries)

data.head(100)

SELECT min(timestamp)AS start, max(timestamp) AS end,          COUNT(DISTINCT person_id) AS clients FROM guestbook_personsnapshot          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'
[{'name': 'Total distinct clients in report period', 'count': 256}]

                             start                              end  clients
0 2020-01-02 13:28:00.745733+00:00 2020-03-19 12:33:20.456309+00:00      256

# Distinct clients by sub-interval within the report period #
* Statistics focused on the breadth of individuals that are served during the time period.

In [9]:
collection = {}
collection["name"] = "Distinct Clients"

query = "SELECT to_char(timestamp,'{}') AS period,  \
         COUNT(DISTINCT person.idperson) AS clients \
         FROM guestbook_personsnapshot snapshot \
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period".format(trange[2], trange[0], trange[1])
print(query)

data = pd.read_sql(query, conn)
#data.head(1000)

persons = data.pivot_table('clients', index=['period']).fillna(0).astype(int).reset_index('period')

collection["dataframe"] = persons 
collection["colwidths"] = [30, 20]
collections.append(collection)
persons.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,           COUNT(DISTINCT person.idperson) AS clients          FROM guestbook_personsnapshot snapshot          JOIN guestbook_person person ON person.idperson=snapshot.person_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY period

           period  clients
0   2020-01/02 01       27
1   2020-01/03 01       25
2   2020-01/06 01       33
3   2020-01/07 01       31
4   2020-01/09 02       35
5   2020-01/10 02       37
6   2020-01/13 02       28
7   2020-01/14 02       31
8   2020-01/15 03       38
9   2020-01/16 03       34
10  2020-01/17 03       29
11  2020-01/21 03        1
12  2020-01/22 04       33
13  2020-01/23 04       33
14  2020-01/24 04       24
15  2020-01/27 04       40
16  2020-01/28 04       33
17  2020-01/29 05       38
18  2020-01/30 05       34
19  2020-01/31 05       24
20  2020-02/03 05       28
21  2020-02/04 05       33
22  2020-02/06 06       23
23  2020-02/07 06       31
24  2020-02/10 06       36
25  2020-02/11 06       29
26  2020-02/12 07       32
27  2020-02/13 07       31
28  2020-02/14 07       28
29  2020-02/17 07       36
30  2020-02/18 07       34
31  2020-02/19 08       25
32  2020-02/20 08       34
33  2020-02/21 08       26
34  2020-02/24 08       30
35  2020-02/25 08       25
36  2020-02/26 09       30
37  2020-02/27 09       26
38  2020-02/28 09       24
39  2020-03/02 09       29
40  2020-03/03 09       31
41  2020-03/05 10        4
42  2020-03/06 10       28
43  2020-03/09 10       28
44  2020-03/10 10       35
45  2020-03/11 11       29
46  2020-03/12 11       28
47  2020-03/13 11       19
48  2020-03/16 11       37
49  2020-03/17 11        4
50  2020-03/19 12        2

## Total Services delivered in report period ##

In [10]:
query = "SELECT \
         left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot \
         JOIN guestbook_service service ON service.idservice=servicerequest.service_id \
         WHERE timestamp BETWEEN '{}' AND '{}'  AND service.points<=0 \
         GROUP BY servicename \
         ORDER BY total desc".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)


for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = data.iloc[n,0] + " services delivered."
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)
data.head(1000)

SELECT          left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot          JOIN guestbook_service service ON service.idservice=servicerequest.service_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'  AND service.points<=0          GROUP BY servicename          ORDER BY total desc
[{'name': 'Total distinct clients in report period', 'count': 256}, {'name': 'Meals services delivered.', 'count': 1275}, {'name': 'Shower services delivered.', 'count': 322}, {'name': 'Clothing services delivered.', 'count': 245}, {'name': 'Computer services delivered.', 'count': 197}, {'name': 'Laundry services delivered.', 'count': 136}, {'name': 'Nurse services delivered.', 'count': 106}, {'name': 'Pastor Consultation services delivered.', 'count': 100}]

           servicename  total
0                Meals   1275
1               Shower    322
2             Clothing    245
3             Computer    197
4              Laundry    136
5                Nurse    106
6  Pastor Consultation    100

# Services delivered by sub-interval within the report period #

In [11]:
collection = {}
collection["name"] = "Services"

#query = "SELECT to_char(timestamp,'{}') AS period, \
#         service.name AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_service service ON service.idservice=servicerequest.service_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' \
#         GROUP BY period, servicename".format(trange[2], trange[0], trange[1])

query = "SELECT to_char(timestamp,'{}') AS period, \
         left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot \
         JOIN guestbook_service service ON service.idservice=servicerequest.service_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND service.points<=0 \
         GROUP BY period, servicename".format(trange[2], trange[0], trange[1])



print(query)

data = pd.read_sql(query, conn)

services = data.pivot_table('total', index=['period'], columns='servicename').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = services 
collection["colwidths"] = [30, 20, 20, 20, 20, 20, 20, 20]
collections.append(collection)

services.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          left(service.name, strpos(service.name, '/') - 1) AS servicename, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personservicerequest servicerequest ON servicerequest.connection_id=snapshot.idsnapshot          JOIN guestbook_service service ON service.idservice=servicerequest.service_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999' AND service.points<=0          GROUP BY period, servicename

servicename,period,Clothing,Computer,Laundry,Meals,Nurse,Pastor Consultation,Shower
0,2020-01/02 01,0,3,3,22,0,1,7
1,2020-01/03 01,9,4,1,22,3,0,4
2,2020-01/06 01,13,3,3,32,0,2,10
3,2020-01/07 01,0,9,5,30,8,2,6
4,2020-01/09 02,0,10,5,35,7,5,8
5,2020-01/10 02,15,8,2,31,5,5,4
6,2020-01/13 02,11,5,3,23,0,3,10
7,2020-01/14 02,0,6,6,31,4,4,10
8,2020-01/15 03,12,6,2,34,0,6,4
9,2020-01/16 03,0,4,4,29,6,3,9
10,2020-01/17 03,12,6,1,25,3,4,5
11,2020-01/22 04,17,6,2,29,0,3,8
12,2020-01/23 04,0,10,3,28,5,5,10
13,2020-01/24 04,5,4,2,22,5,3,3
14,2020-01/27 04,14,5,4,36,0,4,7
15,2020-01/28 04,0,7,6,29,2,3,9
16,2020-01/29 05,10,3,2,36,0,5,8
17,2020-01/30 05,0,5,3,28,4,3,9
18,2020-01/31 05,3,5,1,22,1,1,5
19,2020-02/03 05,6,3,2,25,0,3,10
20,2020-02/04 05,0,7,6,28,2,4,7
21,2020-02/06 06,0,0,2,19,4,1,5
22,2020-02/07 06,8,3,0,26,2,2,3
23,2020-02/10 06,7,3,2,32,0,2,7
24,2020-02/11 06,0,0,4,23,3,4,5
25,2020-02/12 07,8,4,5,28,0,2,6
26,2020-02/13 07,0,1,2,28,3,0,6
27,2020-02/14 07,1,0,0,24,1,0,4
28,2020-02/17 07,6,4,2,32,0,2,9
29,2020-02/18 07,0,3,2,21,7,1,7
30,2020-02/19 08,9,2,4,23,0,3,4
31,2020-02/20 08,0,3,5,30,5,1,7
32,2020-02/21 08,6,2,1,22,2,1,5
33,2020-02/24 08,6,1,5,26,0,2,12
34,2020-02/25 08,0,3,1,22,4,0,5
35,2020-02/26 09,9,3,4,29,0,0,7
36,2020-02/27 09,0,2,4,23,0,0,8
37,2020-02/28 09,5,3,0,22,0,0,7
38,2020-03/02 09,7,4,3,27,0,2,6
39,2020-03/03 09,0,6,6,26,4,1,10
40,2020-03/05 10,0,0,0,3,0,0,0
41,2020-03/06 10,7,3,1,26,1,1,4
42,2020-03/09 10,7,5,3,27,0,2,4
43,2020-03/10 10,0,4,3,30,9,1,9
44,2020-03/11 11,10,7,2,27,0,1,7
45,2020-03/12 11,0,5,3,26,2,0,4
46,2020-03/13 11,8,3,0,17,4,0,7
47,2020-03/16 11,14,4,6,35,0,1,9
48,2020-03/17 11,0,0,0,4,0,1,0
49,2020-03/19 12,0,0,0,0,0,0,2

# Housing totals within the report period#

In [12]:
query = "SELECT  \
         left(housing.name, strpos(housing.name, '(') - 1)  AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
         GROUP BY hresponse".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = " Days spent in " + data.iloc[n,0] 
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)

data.head(1000)

SELECT           left(housing.name, strpos(housing.name, '(') - 1)  AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999' AND prompt_id=8          GROUP BY hresponse
[{'name': 'Total distinct clients in report period', 'count': 256}, {'name': 'Meals services delivered.', 'count': 1275}, {'name': 'Shower services delivered.', 'count': 322}, {'name': 'Clothing services delivered.', 'count': 245}, {'name': 'Computer services delivered.', 'count': 197}, {'name': 'Laundry services delivered.', 'count': 136}, {'name': 'Nurse services delivered.', 'count': 106}, {'name': 'Pastor Consultation services delivered.', 'count': 100}, {'name': ' Days spent in Unstable housing ', 'count': 259}, {'name': ' Days spent in Jail or priso', 'count': 5}, {'name': ' Days spent in Sheltered ', 'count': 230}, {'name': ' Days spent in Stable housing ', 'count': 235}, {'name': ' Days spent in Unsheltered ', 'count': 577}]

           hresponse  total
0  Unstable housing     259
1      Jail or priso      5
2         Sheltered     230
3    Stable housing     235
4       Unsheltered     577

# Housing by sub-interval within the report period#
* Answers to the prompt 'Where did you spend last night?'

In [13]:
collection = {}
collection["name"] = "Housing"

#query = "SELECT to_char(timestamp,'{}') AS period, \
#         housing.name AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
#         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

query = "SELECT to_char(timestamp,'{}') AS period, \
         left(housing.name, strpos(housing.name, '(') - 1) AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

housing = data.pivot_table('total', index=['period'], columns='hresponse').fillna(0).astype(int).reset_index('period')
#housing = housing.fillna(0)
collection["dataframe"] = housing  
collection["colwidths"] = [30, 30, 30, 30, 30, 30]
collections.append(collection)
housing.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          left(housing.name, strpos(housing.name, '(') - 1) AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999' AND prompt_id=8          GROUP BY period, hresponse

hresponse,period,Jail or priso,Sheltered,Stable housing,Unsheltered,Unstable housing
0,2020-01/02 01,0,4,2,14,3
1,2020-01/03 01,0,6,4,9,3
2,2020-01/06 01,0,5,9,12,5
3,2020-01/07 01,0,7,6,11,5
4,2020-01/09 02,0,5,4,16,6
5,2020-01/10 02,0,8,7,10,5
6,2020-01/13 02,0,7,3,11,4
7,2020-01/14 02,0,5,4,13,6
8,2020-01/15 03,1,7,4,19,5
9,2020-01/16 03,0,8,5,12,7
10,2020-01/17 03,0,8,5,8,4
11,2020-01/22 04,0,12,6,7,8
12,2020-01/23 04,0,8,1,14,8
13,2020-01/24 04,0,4,5,9,5
14,2020-01/27 04,0,6,5,12,10
15,2020-01/28 04,1,4,2,17,6
16,2020-01/29 05,0,5,8,14,8
17,2020-01/30 05,0,4,4,17,7
18,2020-01/31 05,0,5,4,12,2
19,2020-02/03 05,0,4,5,13,3
20,2020-02/04 05,0,3,10,12,4
21,2020-02/06 06,0,3,7,9,2
22,2020-02/07 06,0,4,8,12,4
23,2020-02/10 06,0,4,8,15,7
24,2020-02/11 06,0,4,10,6,5
25,2020-02/12 07,1,8,6,8,5
26,2020-02/13 07,0,2,3,13,8
27,2020-02/14 07,0,5,4,12,5
28,2020-02/17 07,0,4,3,17,9
29,2020-02/18 07,0,2,4,16,8
30,2020-02/19 08,0,2,4,13,4
31,2020-02/20 08,1,4,3,20,6
32,2020-02/21 08,0,6,2,11,5
33,2020-02/24 08,0,2,4,17,4
34,2020-02/25 08,0,4,2,13,5
35,2020-02/26 09,0,5,2,11,9
36,2020-02/27 09,0,5,1,11,8
37,2020-02/28 09,0,2,4,8,8
38,2020-03/02 09,0,6,11,9,2
39,2020-03/03 09,0,6,4,11,4
40,2020-03/05 10,0,0,0,1,1
41,2020-03/06 10,0,4,6,13,3
42,2020-03/09 10,0,0,6,13,4
43,2020-03/10 10,0,4,7,11,9
44,2020-03/11 11,0,4,5,12,5
45,2020-03/12 11,1,5,8,9,3
46,2020-03/13 11,0,4,4,8,3
47,2020-03/16 11,0,6,4,16,7
48,2020-03/17 11,0,0,1,0,1
49,2020-03/19 12,0,0,1,0,1

# Clients (by name) Reporting Unsheltered Housing #
* more than once in the report period

In [14]:
collection = {}
collection["name"] = "Unsheltered_by_Name"

unsheltered = 5
threshold = 1

#query = "SELECT to_char(timestamp,'{}') AS period, \
#         housing.name AS hresponse, COUNT(*) AS total FROM guestbook_personsnapshot snapshot\
#         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
#         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
#         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 \
#         GROUP BY period, hresponse".format(trange[2], trange[0], trange[1])

query = "SELECT person.firstname, person.lastname, person.aliasname, \
         COUNT(*) AS unsheltered_nights FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot \
         JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id \
         WHERE timestamp BETWEEN '{}' AND '{}' AND prompt_id=8 AND object_id={} \
         GROUP BY person.idperson ORDER BY COUNT(*) desc".format(trange[0], trange[1], unsheltered)

print(query)

data = pd.read_sql(query, conn)
data.head(100)

#housing = data.pivot_table('total', index=['period'], columns='hresponse').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = data 
collection["colwidths"] = [30, 30, 30, 30, 30, 30]
collections.append(collection)
data.head(1000)

SELECT person.firstname, person.lastname, person.aliasname,          COUNT(*) AS unsheltered_nights FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_personsurvey survey ON survey.connection_id=snapshot.idsnapshot          JOIN guestbook_housingresponse housing ON housing.idhousing=survey.object_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999' AND prompt_id=8 AND object_id=5          GROUP BY person.idperson ORDER BY COUNT(*) desc

    firstname    lastname   aliasname  unsheltered_nights
0       AARON      SPIVEY      AS9512                  45
1       JAMES     HUCKABY      JAMESH                  42
2      RONNIE     STANCIL         RON                  40
3     ANTONIO      MORRIS       TONIO                  39
4      SHERYL   SHOULDERS      SHERYL                  36
5       AARON       AYERS      AARONA                  34
6         PAT     GILMORE        PATG                  32
7       STEVE       SLOAN       STEVE                  32
8       DAVID   STIREWALT        HAWK                  25
9       RAVON       CRUSE       RAVON                  19
10      MAJOR      BURTON      MAJORB                  17
11     ROBERT       WAGES    DALEJR88                  16
12   MARGARET         KEE      MISSEY                  16
13     BRYANT       PEDEW      BRYANT                  16
14  NATHANIEL       SMITH      NSMITH                  13
15  CHRISTIAN       BLAKE  CHRISTIANB                   8
16       GAGE       SCOTT        GAGE                   7
17       BRAD    FRANKLIN   BFRANKLIN                   7
18    BRANDON        CRIM   J0K3R5823                   7
19    ZACHARY     EARNEST   KOOLKID67                   6
20      CHRIS     BRUMLEY      CHRISB                   6
21     JOHNNY      CHAVIS      JOHNNY                   5
22     TAYLOR       SMITH      TSMITH                   4
23    STEPHEN   SARNOWSKI   SARNOWSKI                   4
24    VINCENT       SMITH    VINCENTS                   4
25       JOSH     MCMANUS        JOSH                   4
26     HAROLD        BOST       HBOST                   3
27     ARLENE    THOMPSON      ARLENE                   3
28       JOHN       BURNS      JBURNS                   3
29     ROBERT       LYNCH      RLYNCH                   3
..        ...         ...         ...                 ...
60     JEROME      PELZER     JEROMEP                   1
61    RICHARD     QUARLES     RICHARD                   1
62    MAURICE     OVERTON    MAURICEO                   1
63  ELIZABETH    COCHRANE   ECOCHRANE                   1
64   COURTNEY        HEAD       CHEAD                   1
65  DEMITRIUS   BLACKNELL  DBLACKNELL                   1
66    CLINTON      BONNER     CBONNER                   1
67      JAMES      LUTHER      JAMESL                   1
68      TERRY     JEFFERY      TERRYJ                   1
69      JASON      BARBEE     JASONEB                   1
70     ALEXIS       SMITH     ALEXISS                   1
71       MIKE        PAGE       MIKEP                   1
72      EDGAR     KISSIAH       EDGAR                   1
73        JAY       BAKER      JBAKER                   1
74        RAY    BRITTAIN        RAYB                   1
75   KATHLEEN       YOUNG      KYOUNG                   1
76       GENE       WATTS        GENE                   1
77    SABRINA       BLACK    SABRINAB                   1
78   COURTNEY      BURGIN    COURTNEY                   1
79      DAVID       ERVIN      DERVIN                   1
80      AIMEE  FRANCESCHI       AIMEE                   1
81    MICHAEL     JACKSON    MICHAELJ                   1
82      LINDA    CAMPBELL      LINDAC                   1
83      JOANN     WALLACE   JOWALLACE                   1
84      LANCE        FURR       LANCE                   1
85      DAVID       DAILY         DPD                   1
86     ALYSSA     JANKURA     ALYSSAJ                   1
87    GREGORY       ADAMS    GREGORYA                   1
88    CAMERON       HORNE    GRAYGRAY                   1
89     ASHLEY     ALVAREZ   ALALVAREZ                   1

[90 rows x 4 columns]

# Gender totals in the report period #

In [15]:
query = "SELECT  \
         gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY response".format(trange[0], trange[1])

print(query)
#summaries = []

data = pd.read_sql(query, conn)

for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = "Gender -" + data.iloc[n,0] 
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)

data.head(100)

SELECT           gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY response
[{'name': 'Total distinct clients in report period', 'count': 256}, {'name': 'Meals services delivered.', 'count': 1275}, {'name': 'Shower services delivered.', 'count': 322}, {'name': 'Clothing services delivered.', 'count': 245}, {'name': 'Computer services delivered.', 'count': 197}, {'name': 'Laundry services delivered.', 'count': 136}, {'name': 'Nurse services delivered.', 'count': 106}, {'name': 'Pastor Consultation services delivered.', 'count': 100}, {'name': ' Days spent in Unstable housing ', 'count': 259}, {'name': ' Days spent in Jail or priso', 'count': 5}, {'name': ' Days spent in Sheltered ', 'count': 230}, {'name': ' Days spent in Stable housing ', 'count': 235}, {'name': ' Days spent in Unsheltered ', 'count': 577}, {'name': 'Gender -Female', 'count': 42}, {'name': 'Gender -Male', 'count': 99}, {'name': 'Gender -Unknown', 'count': 115}]

  response  total
0   Female     42
1     Male     99
2  Unknown    115

# Gender by sub-interval within the report period #

In [16]:
collection = {}
collection["name"] = "Gender"

query = "SELECT to_char(timestamp,'{}') AS period, \
         gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period, response".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

gender = data.pivot_table('total', index=['period'], columns='response').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = gender
collection["colwidths"] = [30, 20, 20, 20]
#collection["colwidths"] = []
collections.append(collection)
gender.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          gender.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_genderresponse gender ON gender.idgender=person.gender_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY period, response

response         period  Female  Male  Unknown
0         2020-01/02 01       4    18        5
1         2020-01/03 01       6    18        1
2         2020-01/06 01       5    23        5
3         2020-01/07 01       6    21        4
4         2020-01/09 02       5    25        5
5         2020-01/10 02       9    21        7
6         2020-01/13 02       6    18        4
7         2020-01/14 02       9    19        3
8         2020-01/15 03       7    26        5
9         2020-01/16 03       8    25        1
10        2020-01/17 03       5    21        3
11        2020-01/21 03       0     0        1
12        2020-01/22 04       6    25        2
13        2020-01/23 04       6    25        2
14        2020-01/24 04       4    17        3
15        2020-01/27 04      10    24        6
16        2020-01/28 04       8    22        3
17        2020-01/29 05       6    29        3
18        2020-01/30 05       7    25        2
19        2020-01/31 05       2    20        2
20        2020-02/03 05       5    20        3
21        2020-02/04 05       4    25        4
22        2020-02/06 06       5    17        1
23        2020-02/07 06       6    21        4
24        2020-02/10 06       8    24        4
25        2020-02/11 06       7    18        4
26        2020-02/12 07       7    19        6
27        2020-02/13 07       6    19        6
28        2020-02/14 07       6    17        5
29        2020-02/17 07       7    22        7
30        2020-02/18 07       5    19       10
31        2020-02/19 08       6    14        5
32        2020-02/20 08       8    21        5
33        2020-02/21 08       5    20        1
34        2020-02/24 08       2    21        7
35        2020-02/25 08       6    15        4
36        2020-02/26 09       6    22        2
37        2020-02/27 09       8    16        2
38        2020-02/28 09       3    17        4
39        2020-03/02 09       6    21        2
40        2020-03/03 09       6    19        6
41        2020-03/05 10       1     1        2
42        2020-03/06 10       4    22        2
43        2020-03/09 10       7    17        4
44        2020-03/10 10       8    19        8
45        2020-03/11 11       7    20        2
46        2020-03/12 11       9    14        5
47        2020-03/13 11       4    12        3
48        2020-03/16 11       9    24        4
49        2020-03/17 11       1     0        3
50        2020-03/19 12       0     0        2

# Ethnicity totals within the report period #

In [17]:
query = "SELECT  \
         ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY response".format(trange[0], trange[1])

print(query)
#summaries = []

data = pd.read_sql(query, conn)
for n in range(0, data.shape[0]):  
  summary = {}
  summary["name"]  = "Ethnicity -" + data.iloc[n,0] 
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)
data.head(1000)

SELECT           ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY response
[{'name': 'Total distinct clients in report period', 'count': 256}, {'name': 'Meals services delivered.', 'count': 1275}, {'name': 'Shower services delivered.', 'count': 322}, {'name': 'Clothing services delivered.', 'count': 245}, {'name': 'Computer services delivered.', 'count': 197}, {'name': 'Laundry services delivered.', 'count': 136}, {'name': 'Nurse services delivered.', 'count': 106}, {'name': 'Pastor Consultation services delivered.', 'count': 100}, {'name': ' Days spent in Unstable housing ', 'count': 259}, {'name': ' Days spent in Jail or priso', 'count': 5}, {'name': ' Days spent in Sheltered ', 'count': 230}, {'name': ' Days spent in Stable housing ', 'count': 235}, {'name': ' Days spent in Unsheltered ', 'count': 577}, {'name': 'Gender -Female', 'count': 42}, {'name': 'Gender -Male', 'count': 99}, {'name': 'Gender -Unknown', 'count': 115}, {'name': 'Ethnicity -Black', 'count': 89}, {'name': 'Ethnicity -Hispanic', 'count': 1}, {'name': 'Ethnicity -Native American', 'count': 6}, {'name': 'Ethnicity -Other', 'count': 10}, {'name': 'Ethnicity -Unknown', 'count': 84}, {'name': 'Ethnicity -White', 'count': 66}]

          response  total
0            Black     89
1         Hispanic      1
2  Native American      6
3            Other     10
4          Unknown     84
5            White     66

# Ethnicity by sub-interval within the report period #

In [18]:
collection = {}
collection["name"] = "Ethnicity"

query = "SELECT to_char(timestamp,'{}') AS period, \
         ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period, response".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)

ethnicity = data.pivot_table('total', index=['period'], columns='response').fillna(0).astype(int).reset_index('period')
collection["dataframe"] = ethnicity 
collection["colwidths"] = [30, 20, 20, 20, 20, 20, 20, 20]
collections.append(collection)
ethnicity.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          ethnicity.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_ethnicityresponse ethnicity ON ethnicity.idethnicity=person.ethnicity_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY period, response

response,period,Black,Hispanic,Native American,Other,Unknown,White
0,2020-01/02 01,10,1,2,1,3,10
1,2020-01/03 01,10,1,2,2,1,9
2,2020-01/06 01,11,1,4,3,4,10
3,2020-01/07 01,12,1,3,2,2,11
4,2020-01/09 02,16,1,2,2,5,9
5,2020-01/10 02,15,1,2,3,5,11
6,2020-01/13 02,18,0,3,1,1,5
7,2020-01/14 02,18,1,2,1,2,7
8,2020-01/15 03,22,1,2,2,4,7
9,2020-01/16 03,21,1,1,3,0,8
10,2020-01/17 03,17,1,1,3,3,4
11,2020-01/21 03,0,0,0,0,1,0
12,2020-01/22 04,22,0,1,3,2,5
13,2020-01/23 04,19,0,1,2,2,9
14,2020-01/24 04,15,0,0,1,2,6
15,2020-01/27 04,23,0,2,2,5,8
16,2020-01/28 04,20,0,2,2,3,6
17,2020-01/29 05,26,0,1,2,2,7
18,2020-01/30 05,21,0,2,2,0,9
19,2020-01/31 05,13,0,2,2,1,6
20,2020-02/03 05,15,0,2,1,3,7
21,2020-02/04 05,17,0,2,0,3,11
22,2020-02/06 06,15,0,1,0,1,6
23,2020-02/07 06,18,0,2,0,3,8
24,2020-02/10 06,14,0,2,2,3,15
25,2020-02/11 06,14,0,1,1,4,9
26,2020-02/12 07,14,0,2,1,6,9
27,2020-02/13 07,13,0,1,0,5,12
28,2020-02/14 07,13,0,2,1,5,7
29,2020-02/17 07,18,0,2,2,3,11
30,2020-02/18 07,16,0,2,0,6,10
31,2020-02/19 08,13,0,2,0,3,7
32,2020-02/20 08,15,0,1,0,5,13
33,2020-02/21 08,12,0,2,0,1,11
34,2020-02/24 08,12,0,2,0,7,9
35,2020-02/25 08,11,0,1,0,3,10
36,2020-02/26 09,16,0,2,1,2,9
37,2020-02/27 09,14,0,1,1,1,9
38,2020-02/28 09,15,0,1,0,4,4
39,2020-03/02 09,18,0,1,0,1,9
40,2020-03/03 09,15,0,1,0,4,11
41,2020-03/05 10,0,0,0,1,0,3
42,2020-03/06 10,17,0,1,1,1,8
43,2020-03/09 10,15,0,1,1,2,9
44,2020-03/10 10,12,0,1,1,5,16
45,2020-03/11 11,16,0,2,1,1,9
46,2020-03/12 11,10,0,2,2,2,12
47,2020-03/13 11,10,0,1,1,1,6
48,2020-03/16 11,20,0,3,2,2,10
49,2020-03/17 11,0,0,0,0,2,2
50,2020-03/19 12,0,0,0,0,2,0

# Veteran status totals within the report period#

In [19]:
query = "SELECT  \
         yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY response \
         ORDER BY response desc".format(trange[0], trange[1])

print(query)
#summaries = []

data = pd.read_sql(query, conn)

for n in range(0, data.shape[0]):  
  summary = {}
  if data.iloc[n,0]=="Yes":
    summary["name"] = "Veterans"
  elif data.iloc[n,0]=="No":
    summary["name"] = "Non-veterans"
  else:
    summary["name"] = "Veteran status Unknown"
  summary["count"] = data.iloc[n,1]
  summaries.append(summary)
print(summaries)

data.head(1000)

SELECT           yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY response          ORDER BY response desc
[{'name': 'Total distinct clients in report period', 'count': 256}, {'name': 'Meals services delivered.', 'count': 1275}, {'name': 'Shower services delivered.', 'count': 322}, {'name': 'Clothing services delivered.', 'count': 245}, {'name': 'Computer services delivered.', 'count': 197}, {'name': 'Laundry services delivered.', 'count': 136}, {'name': 'Nurse services delivered.', 'count': 106}, {'name': 'Pastor Consultation services delivered.', 'count': 100}, {'name': ' Days spent in Unstable housing ', 'count': 259}, {'name': ' Days spent in Jail or priso', 'count': 5}, {'name': ' Days spent in Sheltered ', 'count': 230}, {'name': ' Days spent in Stable housing ', 'count': 235}, {'name': ' Days spent in Unsheltered ', 'count': 577}, {'name': 'Gender -Female', 'count': 42}, {'name': 'Gender -Male', 'count': 99}, {'name': 'Gender -Unknown', 'count': 115}, {'name': 'Ethnicity -Black', 'count': 89}, {'name': 'Ethnicity -Hispanic', 'count': 1}, {'name': 'Ethnicity -Native American', 'count': 6}, {'name': 'Ethnicity -Other', 'count': 10}, {'name': 'Ethnicity -Unknown', 'count': 84}, {'name': 'Ethnicity -White', 'count': 66}, {'name': 'Veterans', 'count': 16}, {'name': 'Veteran status Unknown', 'count': 133}, {'name': 'Non-veterans', 'count': 107}]

  response  total
0      Yes     16
1  Unknown    133
2       No    107

# Veteran Status by sub-interval within the report period#

In [20]:
collection = {}
collection["name"] = "Veterans"

query = "SELECT to_char(timestamp,'{}') AS period, \
         yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot\
         JOIN guestbook_person person ON person.idperson=snapshot.person_id \
         JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id \
         WHERE timestamp BETWEEN '{}' AND '{}' \
         GROUP BY period, response".format(trange[2], trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)
#data.head(1000)



veterans  = data.pivot_table('total', index=['period'], columns='response').fillna(0).astype(int).reset_index('period')
veterans.columns = ['period', 'non-veteran', 'unknown','veteran']
collection["dataframe"] = veterans 
collection["colwidths"] = [30, 30, 30, 30]
collections.append(collection)
veterans.head(1000)

SELECT to_char(timestamp,'YYYY-MM/DD WW') AS period,          yesno.name AS response, COUNT(DISTINCT person.idperson) AS total FROM guestbook_personsnapshot snapshot         JOIN guestbook_person person ON person.idperson=snapshot.person_id          JOIN guestbook_yesnoresponse yesno ON yesno.idyesno=person.veteran_id          WHERE timestamp BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          GROUP BY period, response

           period  non-veteran  unknown  veteran
0   2020-01/02 01           19        6        2
1   2020-01/03 01           20        3        2
2   2020-01/06 01           24        6        3
3   2020-01/07 01           22        6        3
4   2020-01/09 02           28        6        1
5   2020-01/10 02           26        8        3
6   2020-01/13 02           22        5        1
7   2020-01/14 02           25        5        1
8   2020-01/15 03           28        6        4
9   2020-01/16 03           28        4        2
10  2020-01/17 03           21        4        4
11  2020-01/21 03            0        1        0
12  2020-01/22 04           24        3        6
13  2020-01/23 04           25        3        5
14  2020-01/24 04           16        4        4
15  2020-01/27 04           29        9        2
16  2020-01/28 04           26        5        2
17  2020-01/29 05           31        4        3
18  2020-01/30 05           28        3        3
19  2020-01/31 05           19        2        3
20  2020-02/03 05           22        3        3
21  2020-02/04 05           25        6        2
22  2020-02/06 06           19        1        3
23  2020-02/07 06           24        4        3
24  2020-02/10 06           27        5        4
25  2020-02/11 06           19        6        4
26  2020-02/12 07           21        7        4
27  2020-02/13 07           19        8        4
28  2020-02/14 07           20        5        3
29  2020-02/17 07           24        8        4
30  2020-02/18 07           20       12        2
31  2020-02/19 08           18        5        2
32  2020-02/20 08           24        7        3
33  2020-02/21 08           22        1        3
34  2020-02/24 08           19        9        2
35  2020-02/25 08           19        4        2
36  2020-02/26 09           22        3        5
37  2020-02/27 09           22        2        2
38  2020-02/28 09           18        4        2
39  2020-03/02 09           21        3        5
40  2020-03/03 09           20        7        4
41  2020-03/05 10            1        3        0
42  2020-03/06 10           18        5        5
43  2020-03/09 10           19        6        3
44  2020-03/10 10           22        9        4
45  2020-03/11 11           22        3        4
46  2020-03/12 11           21        5        2
47  2020-03/13 11           12        3        4
48  2020-03/16 11           26        6        5
49  2020-03/17 11            1        3        0
50  2020-03/19 12            0        2        0

# New Clients within the report period#
* Clients first appearing in the report interval

In [21]:
collection = {}
collection["name"] = "New Clients"

query = "SELECT firstname, lastname, aliasname, timelinestarttime::date AS startdate FROM guestbook_person \
         WHERE timelinestarttime BETWEEN '{}' AND '{}' \
         ORDER BY timelinestarttime asc".format(trange[0], trange[1])

print(query)

data = pd.read_sql(query, conn)
collection["dataframe"] = data
collection["colwidths"] = [30, 30, 30, 30]
collections.append(collection)

data.head(5000)

SELECT firstname, lastname, aliasname, timelinestarttime::date AS startdate FROM guestbook_person          WHERE timelinestarttime BETWEEN '2020-01-01 00:00:00' AND '2020-03-31 23:59:59.999999'          ORDER BY timelinestarttime asc

      firstname     lastname    aliasname   startdate
0          LISA      RUSHING     LRUSHING  2020-01-02
1       LEONARD      NJOROGE      NJOROGE  2020-01-06
2        MARTIN  SMOUTHERSON       MARTIN  2020-01-06
3      MICHELLE      JACKSON     MJACKSON  2020-01-06
4         LEVON       DOZIER       DOZIER  2020-01-06
5         JASON       BARBEE      JASONEB  2020-01-06
6        RONICA       DICKIE       RONICA  2020-01-06
7         LARRY         WADE        LWADE  2020-01-07
8       CLAYTON     RICHA4DS  TOXSIDIOUS3  2020-01-07
9         SHANE       FOSTER       SHANEF  2020-01-07
10      VINCENT        ROCHE       VROCHE  2020-01-09
11       RONNIE        METTS       RMETTS  2020-01-09
12        PEGGY        SCOTT       PEGGYS  2020-01-10
13        ALTON         HILL        ALTON  2020-01-10
14        SONYA      MCNEELY        SONYA  2020-01-10
15          RON       FOSTER        RON57  2020-01-10
16      SABRINA        BLACK     SABRINAB  2020-01-13
17    NATHANIEL        SMITH       NSMITH  2020-01-14
18       HAROLD         BOST        HBOST  2020-01-14
19     COURTNEY         HEAD        CHEAD  2020-01-15
20        DAVID      JACKSON     DJACKSON  2020-01-15
21        RICKY      RATLIFF       RICKYR  2020-01-15
22      ANTHONY   LANGWORTHY        PATCH  2020-01-16
23       ALEXIS        MOORE      ALEXISM  2020-01-22
24       TRACEY     WILLIAMS       GOSPEL  2020-01-23
25     NICHOLAS      MEADOWS     NMEADOWS  2020-01-27
26      RENALDO       PETERS      RENALDO  2020-01-27
27      XZAVIAR         FORD      XZAVIAR  2020-01-27
28        MAJOR       BURTON       MAJORB  2020-01-28
29      MAURICE      OVERTON     MAURICEO  2020-01-28
..          ...          ...          ...         ...
56        AIMEE   FRANCESCHI        AIMEE  2020-02-18
57        JOANN      WALLACE    JOWALLACE  2020-02-19
58      STEPHEN    SARNOWSKI    SARNOWSKI  2020-02-19
59       SHERRY       HOWARD      SHOWARD  2020-02-20
60          JAY        BAKER       JBAKER  2020-02-20
61        JAMES      STANLEY     JSTANLEY  2020-02-20
62      RICHARD     MCKINLEY    RMCKINLEY  2020-02-24
63      ONTERIO     ROBINSON      ONTERIO  2020-02-24
64       JOHNNY       DOOLEY       BIGMOE  2020-02-24
65    ROOSEVELT      WATTERS     RWATTERS  2020-02-25
66         MARY        ALLEN       MALLEN  2020-02-25
67      VINCENT        SMITH     VINCENTS  2020-02-28
68  CHRISTOPHER       DUGENT      CDUGENT  2020-02-28
69         CURT         EUDY        CEUDY  2020-03-02
70     BRITTANY       HOWARD    BRITTANYH  2020-03-03
71         GARY       POTEAT      GPOTEAT  2020-03-03
72        WANDA        CLARK       WANDAC  2020-03-05
73        PETER    IACOBELLI        PETER  2020-03-10
74      REBECCA       MOONEY       BECKYM  2020-03-10
75       ALYSSA      JANKURA      ALYSSAJ  2020-03-10
76        JAMES      DANIELS    JAMES1995  2020-03-11
77        JAMES      DANIELS     JDANIELS  2020-03-11
78        JAMES      HAMMOND     JHAMMOND  2020-03-12
79      RONDELL     MATTHEWS    RMATTHEWS  2020-03-12
80       STEVEN      MEADOWS     SMEADOWS  2020-03-13
81      CLINTON       BONNER      CBONNER  2020-03-13
82        SHERI       HOWARD       SHERIH  2020-03-17
83    MAGDALENA         CRUZ        MCRUZ  2020-03-17
84       LUTHER       BARRON      LBARRON  2020-03-19
85    FREDERICK       BARRON      FBARRON  2020-03-19

[86 rows x 4 columns]

# Summary Counts #

In [22]:
collection = {}
summ = pd.DataFrame.from_dict(summaries)
collection["name"] = "Summary"
collection["dataframe"] = summ
collection["colwidths"] = [30, 60]
collections.insert(1, collection)
#collections.append(collection)
summ.head(1000)

    count                                     name
0     256  Total distinct clients in report period
1    1275                Meals services delivered.
2     322               Shower services delivered.
3     245             Clothing services delivered.
4     197             Computer services delivered.
5     136              Laundry services delivered.
6     106                Nurse services delivered.
7     100  Pastor Consultation services delivered.
8     259          Days spent in Unstable housing
9       5              Days spent in Jail or priso
10    230                 Days spent in Sheltered
11    235            Days spent in Stable housing
12    577               Days spent in Unsheltered
13     42                           Gender -Female
14     99                             Gender -Male
15    115                          Gender -Unknown
16     89                         Ethnicity -Black
17      1                      Ethnicity -Hispanic
18      6               Ethnicity -Native American
19     10                         Ethnicity -Other
20     84                       Ethnicity -Unknown
21     66                         Ethnicity -White
22     16                                 Veterans
23    133                   Veteran status Unknown
24    107                             Non-veterans

In [23]:
_REPORTNAME = _INTERVAL
_SUBJECT = "Opportunity House - Reports for {}".format(toPeriodFriendly(_INTERVAL))
_BODY    = "Spreadsheet (attached) with reports for period {} through {}.".format(trange[0], trange[1])
_EMAIL_RECIPIENT = ['cprice9739@carolina.rr.com', 'pastor@opphouse.net']
#_EMAIL_RECIPIENT = ['cprice9739@carolina.rr.com']

createSpreadsheetAndMailIt(collections, _REPORTNAME, _EMAIL_RECIPIENT, _SUBJECT, _BODY)

Writing dataframe to Excel file PQ-2020-04-03_145911.xlsx
Writing Outline to spreadsheet
colwidths=[30, 100]
Writing Summary to spreadsheet
colwidths=[30, 60]
Writing Distinct Clients to spreadsheet
colwidths=[30, 20]
Writing Services to spreadsheet
colwidths=[30, 20, 20, 20, 20, 20, 20, 20]
Writing Housing to spreadsheet
colwidths=[30, 30, 30, 30, 30, 30]
Writing Unsheltered_by_Name to spreadsheet
colwidths=[30, 30, 30, 30, 30, 30]
Writing Gender to spreadsheet
colwidths=[30, 20, 20, 20]
Writing Ethnicity to spreadsheet
colwidths=[30, 20, 20, 20, 20, 20, 20, 20]
Writing Veterans to spreadsheet
colwidths=[30, 30, 30, 30]
Writing New Clients to spreadsheet
colwidths=[30, 30, 30, 30]
Emailer Done!
Excel/Email Done!